@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl my-12;
}

h2 {
  @apply text-4xl my-8;
}

h3 {
  @apply text-3xl my-4;
}

h4 {
  @apply text-2xl my-2;
}

h5 {
  @apply text-xl my-1;
}

h6 {
  @apply text-lg;
}

p { 
	@apply text-gray-700;
}

/* 代码块 */
code {
  margin: 0 5px;
  padding: 2px 5px;
  background-color: #ffe0e0;
  color: #ff502c;
  border-radius: 5px;
}

/* 代码块 */
pre > code {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border-radius: 5px;
  overflow-y: auto;
  color: #FFF;
  font-family: Menlo, monospace;
}



ul {
  margin-bottom: 16px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

ul > li {
  list-style: disc inside;
}

ol {
  @apply my-4;
}
ol > li {
  list-style: decimal inside;
  @apply text-gray-700;
}
